/* .main1-block-yellow {
    transition-duration: 500ms;
    background: #FFD772;
    border-radius: 15px;
    transform: rotate(7deg);
    width: calc(7.5vh + 7.5vw);
    height: calc(7.5vh + 7.5vw);
    top: 0;
    left: 0;
    margin-top: 40vh;
    margin-left: 10vw;
}

.main1-block-red {
    transition-duration: 500ms;
    background: #FF7777;
    border-radius: 15px;
    transform: rotate(61deg);
    width: calc(7.5vh + 7.5vw);
    height: calc(7.5vh + 7.5vw);
    top: 0;
    right: 0;
    margin-top: 17vh;
    margin-right: 10vw;
}

.main1-block-green {
    transition-duration: 500ms;
    background: #66FFAC;
    border-radius: 125px;
    width: calc(6vh + 6vw);
    height: calc(6vh + 6vw);
    bottom: 0;
    right: 0;
    margin-bottom: 15vh;
    margin-right: 20vw;
}

.main1-block {
    position: absolute;
} */