/* .main4-blocks {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main4-block-green {
    position: absolute;
    height: calc(7.5vh + 7.5vw);
    width: calc(7.5vh + 7.5vw);
    top: 0;
    right: 0;
    margin-right: 5vw;
    margin-top: 5vh;
    background: #66FFAC;
    border-radius: 100%;
}

.main4-block-yellow {
    position: absolute;
    height: calc(7.5vh + 7.5vw);
    width: calc(8vh + 8vw);
    top: 0;
    left: 0;
    margin-left: 5vw;
    margin-top: 15vh;
    background: #FFD772;
    border-radius: 15px;
    transform: rotate(7deg);
}


@media (orientation: landscape) {
    .main4-block-purple {
        position: absolute;
        height: calc(5.5vw + 5.5vh);
        width: calc(20vw + 20vh);
        bottom: 0;
        right: 0;
        margin-right: 32.5vw;
        margin-bottom: 0.25vh;
        background: #B377FF;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transition-duration: 500ms;
    }
    .main4-block-red {
        position: absolute;
        height: calc(7.5vh + 7.5vw);
        width: calc(7.5vh + 7.5vw);
        bottom: 0;
        left: 0;
        background: #FF7777;
        border-radius: 15px;
        transform: rotate(-60deg);
        margin-left: 24.75vw;
        margin-bottom: 5vh;
    }
}

.main4-block-blue {
    position: absolute;
    height: calc(4.5vw + 4.5vh);
    width: calc(20vw + 20vh);
    bottom: 0;
    right: 0;
    margin-right: 1vw;
    margin-bottom: 0.25vh;
    font-size: calc(1vw + 1vh);
    background: #7098FF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition-duration: 500ms;
} */