/* .main4 {
    position: inherit;
    user-select: none;
    height: 100vh;
}

.main4-projects {
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main4-projects-orae {
    z-index: 5;
    position: absolute;
    margin-top: 20vh;
    margin-right: 30vw;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 30px;
    height: calc(10vw + 10vh);
    width: calc(15vw + 15vh);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1vw + 1vh);
    transition-duration: 500ms;
    background-color: red;
}

.main4-img {
    max-height: calc(8vw + 8vh);
    max-width: calc(30vw + 30vh);
    height: auto;
    width: auto;
}

.main4-projects-orae-alignment {
    text-align: center;
}

.main4-projects-nlmc {
    z-index: 5;
    position: absolute;
    margin-top: 20vh;
    margin-left: 30vw;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 30px;
    height: calc(10vw + 10vh);
    width: calc(15vw + 15vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4-projects-nlmc-alignment {
    text-align: center;
}

.link {
    color: inherit;
}

.main4-img {
    height: calc(7.5vw + 7.5vh);
    width: calc(15vw + 15vh);
}

.link-item {
    padding: 0.5vw;
} */