/* .main3-blocks {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main3-block-green {
    transition-duration: 500ms;
    position: absolute;
    margin-left: 10vw;
    margin-top: 40vh;
    background: #66FFAC;
    border-radius: 100%;
    height: calc(5vw + 5vh);
    width: calc(5vw + 5vh);
}

.main3-block-purple {
    transition-duration: 500ms;
    position: absolute;
    top: 10vh;
    right: 15vw;
    height: calc(12.5vw + 12.5vh);
    width: calc(7.5vw + 7.5vh);
    background: #B377FF;
    border-radius: 15px;
    transform: rotate(141.5deg);
}

.main3-block-yellow {
    transition-duration: 500ms;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5vh;
    margin-left: 30vw;
    height: calc(8vw + 8vh);
    width: calc(8vw + 8vh);
    background: #FFD772;
    border-radius: 15px;
    transform: rotate(7deg);
} */