/* 
.main3 {
    position: inherit;
    height: 100vh;
}

.main3-view-img {
    height: calc(10vh + 10vw);
    transition-duration: 500ms;
}

.main3-view {
    user-select: none;
    transition-duration: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
} */
